
    <section class="row crud-header">
            <div class="col-12 mt-4">
                <section class="row menu">
                    <!-- icons -->
                    <div class="col-md-6 mb-5">
                        <div class="row">
                           <div class="col-md-3 icon-menu-itens-crud">
                            <a href="/adm/crud" class="text-warning stretched-link">
                                <i class="fas fa-plus text-success"></i>
                                <br>
                                Adicionar Livro
                            </a>
                            </div>
                            <div class="col-md-3 icon-menu-itens-crud">
                                <a href="/adm/crud" class="text-warning stretched-link">
                                    <i class="fas fa-ban text-info"></i>
                                    <br>Inativar Livro
                                </a>
                            </div>
                        
                            <div class="col-md-3 icon-menu-itens-crud">
                                <a href="/adm/crud" class="text-warning stretched-link">
                                    <i class="fas fa-book-medical text-danger"></i><br>
                                    Reativar Livro
                                </a>
                            </div>
                            <div class="col-md-3 icon-menu-itens-crud">
                                <a href="index.html" class="text-warning stretched-link">
                                    <i class="fas fa-door-open text-primary"></i><br>
                                    Voltar P/ Home
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5 mt-1">
                        <div class="form-group">
                            <input type="text" class="form-control pesquisa" placeholder="Pesquisa">
                        </div>
                    </div>
                    <div class="col-md-3 text-right">
                        <div class="text-group">
                            <h4>Bem Vindo João</h4>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-2"></div>
    </section>
    <section class="row crud-info">
            <div class="col-md-12">
                <div class="row">
                    <div class="text-group">
                        <h6 class="h6">CRUD Livros | <i class="fas fa-home text-info"></i> > <small> Inativar Livros </small></h6>
                    </div>
                </div>
            </div>
    </section>
    <section class="row crud-btn-send">
            <div class="col-md-6">
                <div class="form-group mt-3">
                    <button class="btn btn-success" data-toggle="modal" data-target="#adicionaModal">Adicionar Livro</button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#inativarModal">Inativar Livro</button>
                    <a class="btn btn-danger" href="/adm/painel">Voltar p/ Painel</a>
                    <a class="btn btn-light" href="/home">Voltar p/ Site</a>
                </div>
            </div>
    </section>
    <section class="row crud-table-book">
        <div class="col-md-12">
            <div class="card mb-5">
                <div class="card-header text-dark">Tabela Livros</div>
                <div class="card-body">
                    <input type="text" ng-model="filtro" class="form-control mb-4" placeholder="Pesquisa">
                    <!-- lista de livros -->
                    <div class="col-md-12 ">
                        <div class="row">
                            <table class="table table-responsive table-crud-livros table-light table-striped  table-hover  shadow">
                                <thead class="">
                                <tr>
                                    <th scope="col">Titulo</th>
                                    <th scope="col">Autor</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="livro in listaLivros | filter :filtro">
                                    <td>{{livro.titulo}}</td>
                                    <td>{{livro.autor}}</td>
                                    <td>{{livro.categoria}}</td>
                                    <td><span class="badge badge-warning">{{livro.status}}</span></td>
                                    <td>
                                        <a href="#"  ng-click="visualizar(livro)"><i class="fas fa-eye text-primary"  data-toggle="modal" data-target="#infoModal"></i></a>
                                        &nbsp;&nbsp;
                                        <a href="#" ng-click="visualizar(livro)"><i class="fas fa-pen text-warning" data-toggle="modal" data-target="#editarModal"></i></a>
                                        &nbsp;&nbsp;
                                        <a href="#" ng-click="visualizar(livro)"><i class="fas fa-trash-alt text-danger" data-toggle="modal" data-target="#desativarModal"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <!-- Modal Adicionar-->
    <div class="modal fade" id="adicionaModal" tabindex="-1" role="dialog" aria-labelledby="adicionaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-light text-dark" ng-controller="ModalAdicionarController">
                <form novalidate name ="formAdicionarLivro" ng-submit="adicionarLivro()">
                <div class="modal-header">
                    <h5 class="modal-title" id="adicionaModal">Modal Adicionar Livros</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <span ng-show="formAdicionarLivro.titulo.$touched && formAdicionarLivro.titulo.$invalid" class="text-danger col-10 mb-5 mt-3">Titulo Não pode estar Vazio</span>
                            <h5>Titulo</h5>
                            <input type="text" ng-model="novoLivro.titulo" name="titulo" class="form-control" required placeholder="Titulo aqui">
                        </div>
                        <div class="col-6">
                            <span ng-show="formAdicionarLivro.autor.$touched && formAdicionarLivro.autor.$invalid" class="text-danger col-10 mb-5 mt-3">Autor Não pode estar Vazio</span>
                            <h5>Autor</h5>
                            <input type="text" ng-model="novoLivro.autor" name="autor" class="form-control" required placeholder="Autor Aqui">
                        </div>
                        <div class="col-6">
                            <span ng-show="formAdicionarLivro.categoria.$touched && formAdicionarLivro.categoria.$invalid" class="text-danger col-10 mb-5 mt-3">Favor selecione uma categoria</span>
                            <h5>Categoria</h5>
                            <select name="categoria" ng-model="novoLivro.categoria" class="form-control" required>
                                <option ng-repeat="categorias in categoria" value="{{categorias.categoria}}">{{categorias.categoria}}</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <h5>Imagem</h5>
                            <span ng-show="formAdicionarLivro.imagem.$touched && formAdicionarLivro.imagem.$invalid" class="text-danger col-10 mb-5 mt-3">Imagem Não pode estar Vazio</span>
                            <input name="imagem" ng-model="novoLivro.imagem" type="text" class="form-control" required placeholder="URL Aqui">
                        </div>
                        <div class="col-6">
                            <h5>Preço</h5>
                            <span ng-show="formAdicionarLivro.preco.$touched && formAdicionarLivro.preco.$invalid" class="text-danger col-12 mb-5">Preço Não pode estar Vazio</span>
                            <input name="preco" ng-model="novoLivro.preco" type="text" class="form-control" required placeholder="Preço Aqui">
                        </div>
                        <div class="col-12">
                            <h5>Descrição</h5>
                            <span ng-show="formAdicionarLivro.descricao.$touched && formAdicionarLivro.descricao.$invalid" class="text-danger col-12 mb-5">Favor Insira uma descrição</span>
                            <textarea name="descricao" ng-model="novoLivro.descricao" class="form-control" cols="30" rows="10" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" ng-disabled="{{optionValidations}}" id="submit">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Inativar-->
    <div class="modal fade" id="inativarModal" tabindex="-1" role="dialog" aria-labelledby="inativarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
        <form ng-controller="ModalVisualizarController" ng-submit="inativarUsuario()">
        <div class="modal-content bg-light text-dark">
        <div class="modal-header">
            <h5 class="modal-title" id="inativarModal">Modal Inativar Livro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="text-group mb-3">
                <h5 class="text-center">Insira o ID do Livro</h5>
                <h5>{{idInativarUsuario}}</h5>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="ID" ng-model="idInativarUsuario">
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </form>
        </div>
    </div>
    </div>
    <!-- Modal Info-->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog"  aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModal">Modal De Informações<h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <h5>ID</h5>
                        <p class="lead">{{infoLivro._id}}</p>
                    </div>
                    <div class="col-6">
                        <h5>Titulo</h5>
                        <p class="lead">{{infoLivro.titulo}}</p>
                    </div>
                    <div class="col-6">
                        <h5>Autor</h5>
                        <p class="lead">{{infoLivro.autor}}</p>
                    </div>
                    <div class="col-6">
                        <h5>Categoria</h5>
                        <p class="lead">{{infoLivro.categoria}}</p>
                    </div>
                    <div class="col-6">
                        <h5>Status</h5>
                        <p class="lead text-info">{{infoLivro.status}}</p>
                    </div>
                    <div class="col-6">
                        <h5>Preço</h5>
                        <p class="lead text-danger">{{infoLivro.preco| currency:"R$"}}</p>
                    </div>
                    <div class="col-12">
                        <h5>Descrição</h5>
                        <p class="lead ">
                            {{infoLivro.descricao}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    <!-- Modal Editar-->
    <div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content bg-dark">
                <form novalidate ng-submit="enviarEdicao(infoLivro)">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarModal" >Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <h5>ID</h5>
                            <input type="text" class="form-control" placeholder="Titulo aqui"  disabled value="{{infoLivro._id}}">
                        </div>
                        <div class="col-6">
                            <h5>Titulo</h5>
                            <input type="text" class="form-control" placeholder="Titulo aqui" ng-model="infoLivro.titulo">
                        </div>
                        <div class="col-6">
                            <h5>Autor</h5>
                            <input type="text" class="form-control" placeholder="Autor Aqui"  ng-model="infoLivro.autor">
                        </div>
                        <div class="col-6">
                            <h5>Categoria</h5>
                            <select id="categoria" class="form-control"  ng-model="infoLivro.categoria">
                                <option ng-repeat="categorias in categoria"  value="{{categorias.categoria}}">{{categorias.categoria}}</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <h5>Status</h5>
                            <select id="mySelect" class="form-control"  ng-model="infoLivro.status">
                            <option value="true">true</option>
                            <option value="false">false</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <h5>Preço</h5>
                            <input type="text" class="form-control"  ng-model="infoLivro.preco"  placeholder="Preço Aqui" >
                        </div>
                        <div class="col-12">
                            <h5>Descrição</h5>
                            <textarea class="form-control" name="descrição"  ng-model="infoLivro.descricao" id="" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" placeholder="Enviar">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Desativar-->
    <div class="modal fade" id="desativarModal" tabindex="-1" role="dialog" aria-labelledby="desativarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-light text-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="desativarModal">Desativar Livro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <i class="fas fa-exclamation-triangle text-warning display-4"></i>
                <br>
                <h3>Deseja Realmente Inativar Esse Livro?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Sim</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            </div>
            </div>
        </div>
    </div>
