
    <section class="row crud-header">
            <div class="col-12 mt-5">
                <section class="row menu">
                    <!-- icons -->
                    <div class="col-md-3 mb-5 mt-1">
                        <div class="form-group">
                            <input type="text" class="form-control pesquisa" placeholder="Pesquisa">
                        </div>
                    </div>
                    <div class="col-md-3 col-12 text-right">
                        <div class="text-group">
                            <h4>Bem Vindo {{adm}}</h4>
                        </div>
                    </div>
                </section>
            </div>  
    </section>
    <section class="row crud-info">
            <div class="col-md-12 ">
                <div class="row">
                    <div class="col-12">
                        <div class="text-group">
                            <h6 class="h6">CRUD Livros | <i class="fas fa-home text-info"></i> > <small> Inativar Livros </small></h6>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="row crud-btn-send">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="btn-group btn-group-lg"></div>
                    <adicionar-livro habilita={{authAdicionar}} ng-if='authAdicionar'></adicionar-livro>
                    <voltar-para botao='btn btn-danger' titulo='Voltar p/ Painel' link="/adm/painel"></voltar-para>
                    <voltar-para botao='btn btn-light'  titulo='Voltar p/ Site' link="/home"></voltar-para>
                </div>
            </div>
    </section>
    <section class="row crud-table-book mt-3">
        <div class="col-md-12">
            <div class="card mb-5">
                <div class="card-header text-dark">Tabela Livros</div>
                <div class="card-body">
                    <input type="text" ng-model="filtro" class="form-control mb-4" placeholder="Pesquisa">
                    <!-- lista de livros -->
                    <div class="col-md-12 ">
                        <div class="row">
                            <table class="table table-responsive table-crud-livros table-light table-striped  table-hover  shadow">
                                <thead class="">
                                <tr>
                                    <th scope="col">Titulo</th>
                                    <th scope="col">Autor</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="livro in listaLivros | filter :filtro">
                                    <td>{{livro.titulo}}</td>
                                    <td>{{livro.autor}}</td>
                                    <td>{{livro.categoria}}</td>
                                    <td><span class="badge" ng-class="{true: 'badge-success', false: 'badge-danger'}[livro.status]">{{livro.status}}</span></td>
                                    <td>
                                        <a href="#"  ng-click="visualizar(livro)"><i class="fas fa-eye text-primary"  data-toggle="modal" data-target="#infoModal"></i></a>
                                        &nbsp;&nbsp;
                                        <a href="#" ng-click="visualizar(livro)"><i class="fas fa-pen text-warning" data-toggle="modal" data-target="#editarModal"></i></a>
                                        &nbsp;&nbsp;
                                        <a href="#" ng-click="visualizar(livro)"><i class="fas fa-trash-alt text-danger" data-toggle="modal" data-target="#desativarModal"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <!-- modals -->
    <modal-adicionar></modal-adicionar>
    <modal-info></modal-info>
    <modal-editar></modal-editar>
    <modal-desativar></modal-desativar>
