<!-- adm painel page -->
<section class="row conteudo">
            <div class="col-12 col-sm-12 col-md-10 offset-md-1">
                <section class="row painel-conteudo">
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="row">
                            <div class="col-md-12 form-group mt-2">
                                <input type="text" class="form-control  pesquisa" placeholder="Pesquisar">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6">
                        <h5 class="display-5 text-right">Bem Vindo {{adm}}</h5>
                    </div>
                </section>
                <section class="row painel-box-info">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-12 col-md-6 painel-box bg-danger">
                                <span class="lead">Livros</span>
                                <br>
                                <span class="mt-2 display-5">239420</span>
                            </div>
                            <div class="col-12 col-md-6 painel-box bg-warning">
                                <span class="lead">Desativados</span>
                                <br>
                                <span class="mt-2 display-5">239420</span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="row menu">
                    <div class="col-md-12 mb-5">
                        <div class="row">
                           <div class="col-md-6 icon-menu-itens">
                            <a href="/adm/crud">
                                <i class="fas fa-plus"></i>
                                <br>
                                Adicionar Livro
                            </a>
                            </div>
                            <div class="col-md-6 icon-menu-itens">
                                <a ng-click="irPara('crud')">
                                    <i class="fas fa-ban"></i>
                                    <br>Inativar Livro
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 icon-menu-itens">
                                <a href="/adm/crud">
                                    <i class="fas fa-book-medical"></i><br>
                                    Reativar Livro
                                </a>
                            </div>
                            <div class="col-md-6 icon-menu-itens">
                                <a href="index.html">
                                    <i class="fas fa-door-open"></i><br>
                                    Voltar P/ Home
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
</section>
