<!-- adm painel page -->
<section class="row conteudo">
    <div class="col-12 col-md-6">
        <div class="row">
            <div class="col-12">
                <h4 class="display-4">Dashboard</h4>
                <p class="lead mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non voluptatibus ad sequi tenetur, placeat voluptates, quo maxime rem consectetur odit tempora culpa quae assumenda asperiores possimus quibusdam accusantium exercitationem quas.Reiciendis tempore sint vero quaerat voluptas officiis neque dolor culpa, tempora facilis nihil molestiae amet nobis eveniet obcaecati minus nesciunt architecto provident veniam accusantium. Esse nulla hic eius excepturi autem!</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 jumbotron">
        <section class="row painel-conteudo">
            <div class="col-12 col-sm-12 col-md-12">
                <h5 class="display-5 text-right">Bem Vindo Usuario</h5>
            </div>
        </section>
       
        <section class="row menu">
            <div class="col-md-12 mb-5 mt-5">
                <div class="row">
                   <div class="col-md-4 icon-menu-itens" ng-if='authAdicionar'>
                    <a href="/home/carrinho">
                        <i class="fas fa-plus"></i>
                        <br>
                        Adicionar No Carinho
                    </a>
                    </div>
                    <div class="col-md-4 icon-menu-itens" >
                        <a ng-click="logout()">
                            <i class="fas fa-ban"></i>
                            <br>Sair
                        </a>
                    </div>
                    <div class="col-md-4 icon-menu-itens" >
                        <a href="index.html">
                            <i class="fas fa-door-open"></i><br>
                            Voltar P/ Home
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
</section>
