.table-inativar{
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 white;  
 }
 td.crud-livro-descrip{
    width: 150px;	
    white-space: pre;
 }
 table.table-crud-livros tbody tr td{
    padding: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
 }